

body {
    background-color: black;
    color: #ffffff;
}

.titre {
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
}

.planet:before {
	content: "";
	display: block;
	position: fixed;
	width: 1260px;
    aspect-ratio: 1;
	left: 50%;
	top: 50%;
	z-index: -1;
  transform: translateX(-50%) translateY(-50%);
	background-image: radial-gradient(at 50% 50% in oklch,
			color-mix(in oklch, skyblue, blue 80%),
			color-mix(in oklch, skyblue, blue 10%) 19%,
			color-mix(in oklch, rgb(255, 255, 255), rgb(255, 255, 255) 20%) 20%,
			color-mix(in oklch, rgb(255, 255, 255), blue 80%),
			color-mix(in oklch, rgb(0, 0, 0), black 50%) 55%,
			transparent 70%);
}

.cloud {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
    display: inline-block;
    height: 1em;
    left: 50%;
    z-index: -1;

    margin-left: -1.5em;
    position: fixed;
    top: 50%;
    width: 3em;
}
.cloud:after,
.cloud:before {
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
}
.cloud:after {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
}
.cloud:before {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
}​

.text {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-top: 1rem;
}


.menu a {
    /* tous les liens a à l'intérieur de la balise nav */

    text-decoration: none;
    /* pas d'héritage avec effet souligné */
    color: #0e0d0d;
    /* couleur du texte */
    line-height: 50px;
    /* interligne */
    font-size: 23px;
    /* taille du texte */
    border-radius: 10px;
}

.menu {
    border-radius: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1rem;
    position: sticky;
    top: 20px;
}

.menu li {
    display: inline;
    margin-right: 30px;
}
@media (max-width: 810px) {
    .menu a {
        font-size: 14px;
    };
    .menu  {
        width: 100%;
    }
    .menu  li{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}

.filter {
    display: flex;
    margin: auto;
    backdrop-filter: blur(5rem);
    width: 100%;
    margin-top: 5rem;
    box-shadow: 1px 1px 20px #959595;
    background-color: #ffffff;
}

.icon{
    width : 1rem;
    height : 1rem;
    margin-right: 7px;
}



button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

    margin-bottom: 6rem;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  