

body {
    background-color: #0f0f0f;
    color: #ffffff;
}

.titre {
    text-align: center;
    color: #ffffff;
    font-size: 13rem;
    margin-top: 10rem;
    margin-bottom: 1rem;
}




.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    overflow: hidden; 
    z-index: -1;
  }

 
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: auto;
  }





.cloud {
    background-color: #fff;
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0), hsla(0,0%,0%,.1));
    border-radius: 1em;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
    display: inline-block;
    height: 1em;
    left: 50%;
    z-index: -1;

    margin-left: -1.5em;
    position: fixed;
    top: 50%;
    width: 3em;
}
.cloud:after,
.cloud:before {
    background-color: #fff;
    content: '';
    border-radius: 100%;
    position: absolute;
}
.cloud:after {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.025));
    height: 1em;
    right: .4em;
    top: -.5em;
    width: 1em;
}
.cloud:before {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,.075));
    height: 1.6em;
    left: .4em;
    top: -.75em;
    width: 1.6em;
}​

.text {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-top: 1rem;
}


.menu a {
    

    text-decoration: none;
    
    color: #0e0d0d;
    /* couleur du texte */
    line-height: 50px;
    /* interligne */
    font-size: 23px;
    /* taille du texte */
    border-radius: 10px;
}

.menu {
    border-radius: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1rem;
    top: 20px;


}

.menu li {
    display: inline;
    margin-right: 30px;
}
@media (max-width: 810px) {
    .menu a {
        font-size: 14px;
    };
    .menu  {
        width: 100%;
    }
    .menu  li{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}

.filter {
    display: flex;
    margin: auto;
    backdrop-filter: blur(5rem);
    width: 100%;
    margin-top: 5rem;
    box-shadow: 1px 1px 20px #ffffff;
    background-color: #ffffff;
}

.icon{
    width : 1rem;
    height : 1rem;
    margin-right: 7px;
}



button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;

    margin-bottom: 6rem;
  }
  
  button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  



  
  
  