.support {
    background-color: rgb(28, 28, 28);
    padding: 3.3rem;
    width: 50%;
    border-radius: 5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 22%;
   
    box-shadow: 0px 0px 0px 2px rgb(151, 138, 248),
    8px 8px 0px 0px rgb(30, 78, 254);
    margin-bottom: 25px;
}

.button {
    background-color: #ffffff00;
    color: #fff;
    width: 20rem;
    height: 4rem;
    border: #d8d9e2 0.2em solid;
    border-radius: 11px;
    text-align: right;
    transition: all 0.6s ease;
}

.button:hover {
    background-color: #3654ff;
    cursor: pointer;
  }
  
  .button svg {
    width: 2rem;
    margin: 1rem -3rem 5rem;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 50px 1px;
    margin-top: 0rem;
  }
  @media (max-width: 810px) {
    .support {
      margin-left: 0%;
      padding: 2rem;
      width: auto;
    };
    .button {
      width: 15rem;

    };
    .button svg {
      width: 2rem;
      margin: 11px 0rem 5rem;
    }
};
  

hr{
  margin-top: 2rem;
}