.cardshome {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.387);
    opacity: 1;
    border-radius: 25px;
    padding: 1rem;
    margin-top: 10rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;
}
@media (max-width: 810px) {
    .container {
      display: block;
    };
    .box{
margin-top: 2rem;
    };
}

.box {
    background-color: rgb(28, 28, 28);
    border-radius: 15px;
    border: 3px solid rgba(189, 189, 189, 0);
    padding: 1rem;


}

.une {
    grid-column: 1 / 3;
}

.deux {
    grid-column: 3 / 7;
}

.trois {
    grid-column: 1/ -1;
}


.cinq {
    grid-column: 2 / 6;
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

p {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    line-height: 140%;
    color: rgb(208, 208, 208);
}

