

body {
    background-color: black;
    color: #ffffff;
}

.titre {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin-top: 5rem;
}

.text {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-top: 1rem;
}


.menu a {
    /* tous les liens a à l'intérieur de la balise nav */

    text-decoration: none;
    /* pas d'héritage avec effet souligné */
    color: #0e0d0d;
    /* couleur du texte */
    line-height: 50px;
    /* interligne */
    font-size: 23px;
    /* taille du texte */
    border-radius: 10px;
}

.menu {
    border-radius: 15px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 1rem;
    position: sticky;
    top: 20px;
}

.menu li {
    display: inline;
    margin-right: 30px;
}
@media (max-width: 810px) {
    .menu a {
        font-size: 14px;
    };
    .menu  {
        width: 100%;
    }
    .menu  li{
        width: 100%;
    }
    .text{
        width: 100%;
    }
}

.filter {
    display: flex;
    margin: auto;
    backdrop-filter: blur(5rem);
    width: 100%;
    margin-top: 5rem;
    box-shadow: 1px 1px 20px #959595;
    background-color: #ffffff;
}

.icon{
    width : 1rem;
    height : 1rem;
    margin-right: 7px;
}